<!doctype html>
<html>
<head>
    <meta charset="gbk"/>
    <title>demo</title>
	<link rel="stylesheet" href="../../manage/assets/reset.css" />
	<style>
		body{padding:10px;}
	</style>
</head>
<body>
    <!-- 商城·容器 -->
	<div style="color:#444;border:1px solid #ccc;background:#fff;">
		<div style="height:37px;border-bottom:1px solid #ccc;">
			<img src="tit-b.png" style="float:left;margin:7px 0 0 12px;" />
			<a href="#" style="float:right;margin:10px 18px 0 0;">我也想要此功能</a>
		</div>
		<div style="border-top:2px solid #e5e5e5;">
			<table style="width:98%;margin:0 1%;">
				<tbody>
					<tr>
						<td><!-- insert item 1 here--></td>
						<td><!-- insert item 2 here--></td>
						<td><!-- insert item 3 here--></td>					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- 商城·新品 -->
	<div style="width:233px;height:336px;overflow:hidden;margin:15px auto;">
		<a href="#">
			<div style="float:left;width:220px;height:220px;padding:4px;overflow:hidden;text-align:center;line-height:220px;border:1px solid #ccc;">
				<img src="#" style="max-width:220px;max-height:220px;vertical-align:middle;_width:220px;" />
			</div>
		</a>
		<div style="float:left;width:0;height:227px;margin-top:3px;border-left:3px solid #e5e5e5;"></div>
		<div style="display:inline;float:left;width:230px;height:0;margin-left:3px;font-size:0;line-height:0;border-top:3px solid #e5e5e5;"></div>
		<div style="float:left;margin-top:8px;line-height:1em;">
			促销价：<span style="color:#de0011;font:24px tahoma;">33.<span style="font:bold 14px tahoma;">00</span></span><br/>
			上&nbsp;&nbsp;&nbsp;架：3月20日
		</div>
		<a href="#" style="float:right;margin-top:22px"><img src="buy-b.png" /></a>
		<a href="#" style="float:left;width:100%;height:3em;overflow:hidden;margin-top:8px;font-size:14px;text-align:center;">产品标题产品标题产品标题产品标题产品标题产品标</a>
	</div>
	
	<!-- 商城·热销 -->
	<div style="width:233px;height:336px;overflow:hidden;margin:15px auto;">
		<a href="#">
			<div style="float:left;width:220px;height:220px;padding:4px;overflow:hidden;text-align:center;line-height:220px;border:1px solid #ccc;">
				<img src="#" style="max-width:220px;max-height:220px;vertical-align:middle;_width:220px;" />
			</div>
		</a>
		<div style="float:left;width:0;height:227px;margin-top:3px;border-left:3px solid #e5e5e5;"></div>
		<div style="display:inline;float:left;width:230px;height:0;margin-left:3px;font-size:0;line-height:0;border-top:3px solid #e5e5e5;"></div>
		<div style="float:left;margin-top:8px;line-height:1em;">
			促销价：<span style="color:#de0011;font:24px tahoma;">33.<span style="font:bold 14px tahoma;">00</span></span><br/>
			已售出：10000件
		</div>
		<a href="#" style="float:right;margin-top:22px"><img src="buy-b.png" /></a>
		<a href="#" style="float:left;width:100%;height:3em;overflow:hidden;margin-top:8px;font-size:14px;text-align:center;">产品标题产品标题产品标题产品标题产品标题产品标</a>
	</div>
	
	<!-- 商城·促销 -->
	<div style="width:233px;height:336px;overflow:hidden;margin:15px auto;">
		<a href="#">
			<div style="float:left;width:220px;height:220px;padding:4px;overflow:hidden;text-align:center;line-height:220px;border:1px solid #ccc;">
				<img src="#" style="max-width:220px;max-height:220px;vertical-align:middle;_width:220px;" />
			</div>
		</a>
		<div style="float:left;width:0;height:227px;margin-top:3px;border-left:3px solid #e5e5e5;"></div>
		<div style="display:inline;float:left;width:230px;height:0;margin-left:3px;font-size:0;line-height:0;border-top:3px solid #e5e5e5;"></div>
		<div style="float:left;margin-top:8px;line-height:1em;">
			促销价：<span style="color:#de0011;font:24px tahoma;">33.<span style="font:bold 14px tahoma;">00</span></span><br/>
			原&nbsp;&nbsp;&nbsp;价：<del style="text-decoration:line-through">100.00</del>
		</div>
		<a href="#" style="float:right;margin-top:22px"><img src="buy-b.png" /></a>
		<a href="#" style="float:left;width:100%;height:3em;overflow:hidden;margin-top:8px;font-size:14px;text-align:center;">产品标题产品标题产品标题产品标题产品标题产品标</a>
	</div>
	
	<!-- 集市·容器 -->
	<div style="color:#444;border:1px solid #ccc;background:#fff;">
		<div style="height:37px;border-bottom:1px solid #ccc;">
			<img src="tit-c.png" style="float:left;margin:7px 0 0 12px;" />
			<a href="#" style="float:right;margin:10px 18px 0 0;">我也想要此功能</a>
		</div>
		<div style="border-top:2px solid #e5e5e5;">
			<table style="width:98%;margin:0 1%;">
				<tbody>
					<tr>
						<td><!-- insert item 1 here--></td>
						<td><!-- insert item 2 here--></td>
						<td><!-- insert item 3 here--></td>					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- 集市·新品 -->
	<div style="width:233px;height:336px;overflow:hidden;margin:15px auto;">
		<a href="#">
			<div style="float:left;width:220px;height:220px;padding:4px;overflow:hidden;text-align:center;line-height:220px;border:1px solid #ccc;">
				<img src="#" style="max-width:220px;max-height:220px;vertical-align:middle;_width:220px;" />
			</div>
		</a>
		<div style="float:left;width:0;height:227px;margin-top:3px;border-left:3px solid #e5e5e5;"></div>
		<div style="display:inline;float:left;width:230px;height:0;margin-left:3px;font-size:0;line-height:0;border-top:3px solid #e5e5e5;"></div>
		<div style="float:left;margin-top:8px;line-height:1em;">
			促销价：<span style="color:#de0011;font:24px tahoma;">33.<span style="font:bold 14px tahoma;">00</span></span><br/>
			上&nbsp;&nbsp;&nbsp;架：3月20日
		</div>
		<a href="#" style="float:right;margin-top:22px"><img src="buy-c.png" /></a>
		<a href="#" style="float:left;width:100%;height:3em;overflow:hidden;margin-top:8px;font-size:14px;text-align:center;">产品标题产品标题产品标题产品标题产品标题产品标</a>
	</div>
	
	<!-- 集市·热销 -->
	<div style="width:233px;height:336px;overflow:hidden;margin:15px auto;">
		<a href="#">
			<div style="float:left;width:220px;height:220px;padding:4px;overflow:hidden;text-align:center;line-height:220px;border:1px solid #ccc;">
				<img src="#" style="max-width:220px;max-height:220px;vertical-align:middle;_width:220px;" />
			</div>
		</a>
		<div style="float:left;width:0;height:227px;margin-top:3px;border-left:3px solid #e5e5e5;"></div>
		<div style="display:inline;float:left;width:230px;height:0;margin-left:3px;font-size:0;line-height:0;border-top:3px solid #e5e5e5;"></div>
		<div style="float:left;margin-top:8px;line-height:1em;">
			促销价：<span style="color:#de0011;font:24px tahoma;">33.<span style="font:bold 14px tahoma;">00</span></span><br/>
			已售出：10000件
		</div>
		<a href="#" style="float:right;margin-top:22px"><img src="buy-c.png" /></a>
		<a href="#" style="float:left;width:100%;height:3em;overflow:hidden;margin-top:8px;font-size:14px;text-align:center;">产品标题产品标题产品标题产品标题产品标题产品标</a>
	</div>
	
	<!-- 集市·促销 -->
	<div style="width:233px;height:336px;overflow:hidden;margin:15px auto;">
		<a href="#">
			<div style="float:left;width:220px;height:220px;padding:4px;overflow:hidden;text-align:center;line-height:220px;border:1px solid #ccc;">
				<img src="#" style="max-width:220px;max-height:220px;vertical-align:middle;_width:220px;" />
			</div>
		</a>
		<div style="float:left;width:0;height:227px;margin-top:3px;border-left:3px solid #e5e5e5;"></div>
		<div style="display:inline;float:left;width:230px;height:0;margin-left:3px;font-size:0;line-height:0;border-top:3px solid #e5e5e5;"></div>
		<div style="float:left;margin-top:8px;line-height:1em;">
			促销价：<span style="color:#de0011;font:24px tahoma;">33.<span style="font:bold 14px tahoma;">00</span></span><br/>
			原&nbsp;&nbsp;&nbsp;价：<del style="text-decoration:line-through">100.00</del>
		</div>
		<a href="#" style="float:right;margin-top:22px"><img src="buy-c.png" /></a>
		<a href="#" style="float:left;width:100%;height:3em;overflow:hidden;margin-top:8px;font-size:14px;text-align:center;">产品标题产品标题产品标题产品标题产品标题产品标</a>
	</div>
</body>
</html>