<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>淘金宝 - 智能电子商务推荐系统</title>
    <meta name="description" content="淘金宝是专业的淘宝相关宝贝推荐工具。只需一键操作，自动为宝贝描述插入最合适的“相关宝贝推荐”！通过先进的“关联营销算法”，帮您提升流量转化率。" /> 
    <link rel="stylesheet" href="/assets/css/reset-layout-min.css"/>
    <link rel="stylesheet" href="/assets/css/dpl-pkg-min.css"/>
    <link rel="stylesheet" href="/assets/css/taogold-min.css"/>
    <script src="/assets/js/kissy/kissy-min.js"></script>
    {% block customjs %}{% endblock %}
</head>
<body>
    <div id="header">
        <a class="logo" href="index.html"><img src="/assets/appimg/logo.png" alt="淘金宝" /></a>
        <p class="desc">为淘宝卖家提供最专业的智能电子商务推荐系统</p>
        <p class="sub-title">{% block pagetitle %}{% endblock %}</p>      
        <div class="user">您好，{{nick}}! <a href="https://login.taobao.com/member/logout.jhtml?f=top">退出</a></div>
        <div class="tools">
            <a href="http://fuwu.taobao.com/service/service.htm?service_id=9489" target=_blank>立即续订</a>
            <a href="share.html" target=_blank>帮助</a>
        </div>
    </div>
    <div id="content">
        {% block content %}
        <div class="layout grid-s5m0">
            <div class="col-main">
                <div class="main-wrap">
                    {% block maincontent %} {% endblock %}
                </div>
            </div>
            <div class="col-sub">
                <div class="box box-padding accordion">
                    <div class="box-hd">
                        <h3><a href="index.html">首页</a></h3>
                    </div>
                    <div class="box-hd">
                        <h3><a href="rechome.html">相关宝贝推荐</a></h3>
                    </div>
                    <div class="box-bd">
                        <ul class="list">
                            <li><a href="rechome.html">模板列表</a></li>
                            <li><a href="new-template.html">创建模板</a></li>
                            <li><a href="history.html">历史操作</a></li>
                        </ul>
                    </div>
                    <div class="box-hd">
                        <h3><a href="share.html">意见建议反馈</a></h3>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <div id="footer">
        <p class="copyright">Copyright  &copy; <a href="index.html">app.23201.com</a> 版权所有</p>
    </div>
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F27fa7389b29130b1e347cb350b6060b8' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
</body>
</html>
