<html>
    <head>
        <title>电子商务智能推荐系统——打造全球最强悍中文电子商务推荐系统</title>
        <link href="/css/rechome.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div id="title">
            <h1 align="center"> 欢迎 {{ nick }} 光临电子商务智能推荐系统，在这里，可以让你的电子商务做的更加得心应手</h1>
        </div>
        <div id="template">
            <table border="1">
                <tr>
                    <td>nick</td>
                    <td>name</td>
                    <td>template id, self increment</td>
                    <td>picture, for preview</td>
                    <td>position, b for bottom, t for top</td>
                    <td>status, s for stop, u for use</td>
                    <td>goods num_iid list</td>
                    <td>created date time</td>
                    <td>last modified date time</td>
                    <td>编辑</td>
                    <td>operation</td>
                    <td>preview</td>
                    <td>delete</td>
                    <td>history</td>
                </tr>
                {% for temp in temp_list%}
                <tr>
                    <td> {{ temp.nick }} </td>
                    <td> {{ temp.name }} </td>
                    <td> {{ temp.id }}</td>
                    <td> {{ temp.pic }} </td>
                    <td> {{ temp.position }}</td>
                    <td> {{ temp.status }} </td>
                    <td> {{ temp.goods_iid }}</td>
                    <td> {{ temp.created }}</td>
                    <td> {{ temp.modified }} </td>
                    <td> <a href="/top/edit.html?tempid={{temp.id}}&nick={{nick}}"> 编辑 </a> </td>
                    <td> {% if temp.status == 'u' %}<a href="/top/stoptemplate.html?tempid={{temp.id}}&nick={{nick}}">  禁用 </a>{% endif %} 
                        {% if temp.status == 's' %} <a href="/top/usetemplate.html?tempid={{temp.id}}&nick={{nick}}">启用</a> {% endif %}</td>
                    <td><a href="/top/preview.html?tempid={{temp.id}}&nick={{nick}}"> 预览 </a> </td>
                    <td> {% if temp.status == 's' %}<a href="/top/delete.html?tempid={{temp.id}}&nick={{nick}}">  删除 </a>{% endif %} </td>
                    <td> <a href="/top/history.html?tempid={{temp.id}}&nick={{nick}}">  历史</a></td>
                </tr>
                {%endfor%}
            </table>
            <div>
                <a href="/top/add.html?nick={{nick}}"> 新增模板 </a>
            </div>

        </div>
    </body>
</html>


