{% extends "page.html" %}

{% block content %}
<!-- {{{ msg -->
<div class="msg">
	<div class="msg-default msg-tips">
		<i class="msg-icon"></i>
        <div class="msg-content">hisok={{hisok}} 您最近一次在 <em>{{history.time}}</em> 进行了 <em>{%if history.m == 1 %}启用{% else %} 禁用{%endif%}</em> 操作，本次操作成功 <em>{{history.suc}}</em> 个，失败 <em>{{history.fail}}</em> 个。以下为详细的操作记录。</div>
	</div>
</div>
<!-- msg }}} -->

<div class="grid">
            <table class="table">
                <colgroup>
                    <col width="548">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>
                    <tr class="row">
                        <th>宝贝名称</th>
                        <th>更新时间</th>
                        <th>操作结果</th>
                    </tr>
                </thead>
                <tbody>
                    {%for d in details %}
                    <tr class="row">
                        <td><a href="http://item.taobao.com/item.htm?id={{d.num_iid}}" target="_blank">{{d.title}}</a></td>
                        <td>
                            {{ d.time }}
                        </td>
                        <td>
                            {{ d.r }}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

<h3>操作成功的宝贝</h3>
<ul>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
</ul>

<h3>操作失败的宝贝</h3>
<ul>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
</ul>

{% endblock %}
