{% extends "page.html" %}

{% block content %}
<!-- {{{ msg -->
<div class="msg">
	<div class="msg-default msg-tips">
		<i class="msg-icon"></i>
		<div class="msg-content">您最近一次在08月31日12点23分进行了“启用/禁用”操作，本次操作成功xx个，失败xx个。以下为详细的操作记录。</div>
	</div>
</div>
<!-- msg }}} -->

<h3>操作成功的宝贝</h3>
<ul>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
</ul>

<h3>操作失败的宝贝</h3>
<ul>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
    <li><a href="#">宝贝名称</a></li>
</ul>

{% endblock %}
