<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>淘金宝 - 相关宝贝推荐</title>
    <meta name="description" content="淘金宝是专业的淘宝相关宝贝推荐工具。只需一键操作，自动为宝贝描述插入最合适的“相关宝贝推荐”！通过先进的“关联营销算法”，帮您提升流量转化率。" /> 
    <link rel="stylesheet" href="/assets/2.0/css/reset-min.css"/>
    <link rel="stylesheet" href="/assets/2.0/css/dpl-pkg-min.css"/>
    <link rel="stylesheet" href="/assets/2.0/css/taogold-min.css"/>
    <script src="http://a.tbcdn.cn/s/kissy/1.2.0/kissy.js"></script>
    {% block customjs %}{% endblock %}
</head>
<body class="{{pagename}}">
    
    <div class="header">
        <ul class="menu">
            <li><a class="index" href="index.html">淘金宝首页</a></li>
            <li><a class="history" href="history.html">操作记录</a></li>
            <li><a class="order" href="http://fuwu.taobao.com/using/serv_subsc.htm?service_id=9489&subType=1">立即续订</a></li>
            <li><a class="help" href="help.html">帮助中心</a></li>
            <li><a class="ww" target="_blank" href="http://www.taobao.com/webww/?ver=1&&touid=cntaobao%E6%B7%98%E9%87%91%E7%94%B5%E5%95%86&siteid=cntaobao&status=2" ><img src="http://img.im.alisoft.com/actions/wbtx/wangwang/2/online.gif" border="0">客服旺旺</a></li>
        </ul>
        <div class="login"><span class="name">您好，{{nick}}！</span> <a class="exit" href="https://login.taobao.com/member/logout.jhtml?f=top">退出</a></div>
    </div>
    
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    
    <div class="footer">
        <p class="copyright">Copyright  &copy; <a href="index.html">app.23201.com</a> 版权所有</p>
    </div>
    
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F27fa7389b29130b1e347cb350b6060b8' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
</body>
</html>
