/**************************************************************
 * global
 **************************************************************/
body{padding-top:42px;}
em{color:#f30;}
b{font-weight:bold;color:#f30;}
 
/**************************************************************
 * .header
 **************************************************************/
.header{position:fixed;z-index:100;left:0;top:0;width:100%;height:32px;color:#ccc;line-height:32px;background:#000;}
.header a{text-decoration:none;color:#fff;}
.header .menu{float:left;margin-left:10px;}
.header .menu li{float:left;}
.header .menu a{display:block;padding:0 10px;}
.header .menu a:hover, .header .menu a:active{padding-bottom:2px;line-height:28px;border-top:2px solid #83d160;background:#444;}
.header .login{float:right;margin-right:10px;}
.header .login .name{float:left;}
.header .login .exit{float:left;margin-left:6px;}
 
/**************************************************************
 * .footer
 **************************************************************/
.footer{margin-top:10px;padding:15px 0 35px 0;text-align:center;color:#666;border-top:1px solid #ddd;}
 
/**************************************************************
 * .content
 **************************************************************/
.content{margin:0 10px;max-width:950px;}
 
/**************************************************************
 * .index
 **************************************************************/
.index .header .menu .index{font-weight:bold;line-height:28px;border-top:2px solid #f30;}
.index .users{margin-bottom:10px;}
.index .show{margin-bottom:10px;}
.index .op{overflow:hidden;margin-bottom:10px;padding:10px;border:1px solid #fff;}
.index .op-use,
.index .op-use-confirm,
.index .op-stop,
.index .op-stop-confirm{float:left;width:189px;height:54px;overflow:hidden;line-height:1000px;background:url(../img/use-btn.png);}
.index .op-use-confirm{background-position:0 -54px;}
.index .op-stop,
.index .op-stop-confirm{width:149px;height:44px;background-position:0 -108px;}
.index .op-stop-confirm{background-position:0 -152px;}
.index .op-tips{float:left;margin-left:10px;margin-top:8px;}
.index .intro{margin-bottom:10px;}

.userlist{position:relative;height:60px;overflow:hidden;}
.userlist .list{width:100%;}
.userlist li{height:60px;overflow:hidden;}
.userlist .item{height:20px}
.userlist img{vertical-align:middle;}

/**************************************************************
 * .history
 **************************************************************/
.history .header .menu .history{font-weight:bold;line-height:28px;border-top:2px solid #f30;}

/**************************************************************
 * .help
 **************************************************************/
.help .header .menu .help{font-weight:bold;line-height:28px;border-top:2px solid #f30;}

/**************************************************************
 * .error
 **************************************************************/
.error .header .menu .index{font-weight:bold;line-height:28px;border-top:2px solid #f30;}