{% extends "page.html" %}

{% block pagetitle %}
帮助
{% endblock %}

{% block content %}
<!-- {{{ grid -->
<div class="grid">

欢迎使用淘金宝。<p>只需<font color="#FF0000">一键操作</font>，自动为宝贝描述插入最合适的“相关宝贝推荐”，帮您<font color="#FF0000">提高转化率</font>，增加收入。</p>
<p><b><font color="#FF0000" size="5">两</font>种推广模式： </b></p>
<p><b>1、自动模式</b>：只需一键启用，系统自动为您算出最适合的3个宝贝，帮您节省挑选宝贝的时间</p>
<p><b>2、人工模式</b>：您可以选择人工选择3个宝贝进行推荐，满足您要特意推广某些单品的活动需要</p>
<p><b><font color="#FF0000" size="5">两</font>种推荐色调：</b></p>
<p><b>1、集市店铺</b>：默认采用淘宝橙色调，与淘宝主站风格保持完美一致</p>
<p><b>2、商城店铺</b>：默认采用商城红色调，与淘宝商城风格保持完美一致</p>
<p><b><font color="#FF0000" size="5">一</font>键禁用，彻底卸载：</b></p>
<p>插入到宝贝描述的推荐代码，可以一键禁用，彻底卸载，让您无后顾之忧。</p>
<p>您还可以通过“历史操作”查询到对每个模板的操作记录，100%安心。</p>
<p align="center"><b><font size="5">我懂了，立即进<a href="/top/rechome.html">模板列表</a>点击“启用”吧！</font></b></p>

</div>
<!-- grid }}} -->
{% endblock %}